* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
    /* background-color: brown; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/*********header************/
header {}

.main-header {
    padding-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.main-header nav ul {
    display: flex;
}

.main-header nav ul li a {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-right: 5rem;

}

.main-header nav ul li a:hover {
    color: #C8191C;
}

.main-header nav ul li:last-child a {
    margin-right: 0;
}



/**************************/

/*********Hero Section**********/
#hero {
    position: relative;
    top: 0;
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    display: flex;
    background-position: center center;
    background-size: cover;
    /* z-index: -9; */
}

#hero::before {
    content: '';
    position: absolute;
    background-image: url(../images/Wheel2\ 1.png);
    inset: 0;
    opacity: 0.5;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero-data {
    position: relative;
    z-index: 99;
    text-align: center;
    margin-bottom: 30rem;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 13rem;
    line-height: 16rem;
    color: #FFFFFF;
    margin-top: 30rem;

}

.hero-data h1 span {
    color: #C8191C;
}

.hero-data p {
    padding: 5.5rem 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    max-width: 90rem;
    margin: 0 auto;
}

.btn-theme {
    padding: 15px 70px;
    width: 300px;
    height: 63px;
    background: #C8191C;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
}

/**************************/

/******Descover*************/
#descover {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    width: 100%;

}

.discover-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 17.2rem;
}

.discover-icons h3 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 7.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-title h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
}

.main-title h2 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.discover-with p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 12rem;
}

.discover-with h5 {
    margin-top: 2.8rem;
}
.with-img .dis-img{
    width: 729px;
    height: 506px;
    object-position:left center ;
    object-fit: cover;
}
.with-img .dis-img img {
    width: 100%;
    height: 100%;
   
}

.with-data {
    padding-left: 15rem;
    position: relative;
}

.with-data::before {
    content: '';
    position: absolute;
    width: 0rem;
    height: 46rem;
    border: 1px solid #FFF;
    left: 3rem;
    top: 3.8rem;
}

.with-data .btn-theme {
    margin-top: 10rem;
    display: inline-block;

}

/**************************/


/************Imageine Section********/
#imageine {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    padding-top: 20rem;
}

.super-imagine h2 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
}

.super-imagine p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 11.5rem;
    max-width: 46rem;
}
.super-imagine .image-img {
    width: 90rem;
    height: 33rem;
    object-position:  center bottom;
    object-fit: cover;
    margin-bottom: 10rem;
    margin-left: 4rem;
}
.super-imagine  .image-img img {
    width: 100%;
    height: 100%;
   
}

/**************************************/

/***************Service Section***************/
#SERVICES {
    padding-top: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
}

#SERVICES h2,
#SERVICES h5 {
    text-align: center;
}

#SERVICES h2 {
    max-width: 148rem;
    text-align: center;
    margin-bottom: 10rem;
}

.forecast {
    display: flex;
    justify-content: space-around;
    gap: 7rem 0;
}

.forecast .forecast-data {
    padding: 6rem;
}

.forecast .forecast-data img {
    width: 53rem;
    height: 32rem;
    object-position: center center;
    object-fit: cover;
}

.forecast .forecast-data h4 {
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5rem;
}

.forecast .forecast-data p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 2rem;
}

/**************************************/

/*************Why Section*************/
#why {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    /* height: 100vh; */
    padding-top: 20rem;
    padding-bottom: 20rem;
}

#why .main-title {
    text-align: center;
}

#why .main-title h2 {
    margin-bottom: 17.2rem;
}

.why-choose {
    display: flex;
    justify-content: space-between;
}

.why-choose img {
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
}

.why-choose h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.why-choose p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/**************************************/
/**************Horoscope Section************/
#Horoscope#Horoscope {
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    /* height: 100vh; */
    padding: 20rem 0;
}

#Horoscope .main-title {
    text-align: center;
}

#Horoscope .main-title h2 {
    max-width: 110rem;
    margin: 0 auto 10rem auto;
}

.hs-box {
    display: flex;
    gap: 0 6rem;
    margin-bottom: 10rem;
}

.hs-row {
    display: flex;
    gap: 0 8.6rem;
}

.hs-box .hs-img img {
    width: 18rem;
    height: 18rem;
}

.hs-box .hs-data h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
}

.hs-box .hs-data p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

#Horoscope a {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.client {
    margin-top: 20rem;
    justify-content: space-between;
}

.client h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #C8191C;
    text-align: left;
}

.client h2 {
    font-weight: 700;
    font-size: 100px;
    line-height: 136px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* text-align: center; */
}

/**************************************/
/***********Our-team Section**************/
#Our-team {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    /* height: 100vh; */
    padding: 20rem 0;

}

.team-data .main-title {
    margin: 22.4rem 0;
}

.team-data .form-label {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.team-data .form-select,
.team-data .form-control {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background-color: transparent;
    margin-bottom: 8rem;
    margin-top: 3rem;
    margin-right: 8rem;
    padding: 3.3rem 18.6rem 3.3rem 3rem;
    width: auto;

}

.team-data .form-select {
    padding: 3.3rem 30.6rem 3.3rem 3rem;
}

/**************************************/

/***********Membership Section**************/
#membership {
    position: relative;
    background: linear-gradient(180deg, #514242 -74.63%, #2E0A0A 38.7%, #000000 151.34%);
    background-size: cover;
    padding: 10.5rem 0;
    text-align: center;
    /* z-index: -9; */

}

#membership::before {
    content: '';
    background: url(../images/Wheel2.png);
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.mem-ship {
    position: relative;
    z-index: 9;
}

#membership h2 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#membership p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 5rem;
    max-width: 90rem;
    margin: 0 auto 5rem auto;
}

#membership .btn-theme {}

/**************************************/
/**************Membership Price**************/
#mem-price {
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    /* height: 100vh; */
    padding: 20rem 0;
}

#mem-price .main-title {
    text-align: center;
}

.mp-data h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 3rem;
}

.mp-data h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.mp-data h2 span {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mp-data p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.mp-data p i {
    display: inline-block;
    font-size: 4.4rem;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #000;
    margin-right: 2rem;
}

.mp-data .btn-theme {
    margin-top: 8rem;
    display: block;
}

.mp-data-box {
    padding: 6rem 7.7rem;
}

.mp-data-box:hover {
    background-color: #C8191C;
}

.mp-data-box:hover .btn-theme {
    background-color: #FFF;
    color: #C8191C;
}

/*********************************************/
/*************Say about section*************/
#say-about {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    /* height: 100vh; */
    padding: 20rem 0;
}

#say-about .main-title h2 {
    max-width: 140rem;
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.arrow-img img {
    margin: 0 auto;
    text-align: center;
}
.swiper-wrapper{
    margin: 2rem 5rem;
}
.swiper-wrapper .client-say {
    padding-left: 3rem;
    width: 48rem;
    height: 76rem;
    
}
.client-say .client-img {
    Width: 476px;
    Height: 512px;
    margin-bottom: 10rem;
}

.client-say .client-img img {
    Width: 100%;
    Height: 100%;
   
}
.client-say .client-data{
    position: relative;
}
.client-say .client-data span {
    position: absolute;
    width: 98px;
    height: 85px;
    color:  rgba(255, 255, 255, 0.2);
    font-size: 30rem;
    top: -17rem;
    left: -3rem;
}
.client-say .client-data p {
    max-width: 465px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.client-say .client-data h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;

}
.mySwiper{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.mySwiper .swiper-button-next{
    position: absolute;
    top: 28rem;
    color: #FFF;
}
.mySwiper .swiper-button-prev{
    position: absolute;
    top: 28rem;
    color: #FFF;
    left: 0rem;
}
/*********************************************/
@media screen and (min-width:1500px) {
    .container {
        max-width: 150rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width:1700px) {
    .container {
        max-width: 170rem;
        padding: 0 1rem;
    }
}