* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
    /* background-color: brown; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/*********header************/
header {
    
}

.main-header {
    padding-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000000;  */
}

.main-header nav ul {
    display: flex;
}

.main-header nav ul li a {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-right: 5rem;

}

.main-header nav ul li a:hover {
    color: #C8191C;
}

.main-header nav ul li:last-child a {
    margin-right: 0;
}



/**************************/

/*********Hero Section**********/
#hero {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    display: flex;
    background-position: center center;
    background-size: cover;
    /* z-index: -9; */
}

#hero::before {
    content: '';
    position: absolute;
    background-image: url(../images/Wheel2\ 1.png);
    inset: 0;
    opacity: 0.5;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}
.hero-data{
    position: relative;
    z-index: 99;
    text-align: center;
}
.hero-data h1 {
    font-weight: 700;
    font-size: 10rem;
    line-height: 10rem;
    color: #FFFFFF;
    margin-top: 40rem;
    
}

.hero-data h1 span {
    color: #C8191C;
}

.hero-data p {
    padding: 5.5rem 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #FFFFFF;
    max-width: 90rem;
    margin: 0 auto;
}

.hero-data .btn-theme {
    padding: 15px 70px;
    width: 300px;
    height: 63px;
    background: #C8191C;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
}

/**************************/

/******Descover*************/
#descover{
   
   
}


/**************************/

@media screen and (min-width:1500px) {
    .container {
        max-width: 150rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width:1700px) {
    .container {
        max-width: 170rem;
        padding: 0 1rem;
    }
}